
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    {% block cssblock %}

    {% endblock %}
</head>

<body>
    <!-- Navbar Section Begin -->
    {% include 'homepage/navbar.html' %}
    <!-- Navbar Section End -->

    {% block content %}

    {% endblock %}
    <!-- Logo Carousel End -->

    <!-- Contact Section Begin -->

    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    {% include 'homepage/footer.html' %}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    {% block jsblock %}

    {% endblock %}
</body>

</html>