{% load static %}
    <section class="categories-section">
        <div class="cs-item-list">
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-1.jpg' %}">
                <div class="cs-text">
                    <h5>Nhà trọ</h5>
                    <span>5000 căn</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-2.jpg' %}">
                <div class="cs-text">
                    <h5>Nhà nghỉ</h5>
                    <span>1000 phòng</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-3.jpg' %}">
                <div class="cs-text">
                    <h5>Căn hộ</h5>
                    <span>1000 căn</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-4.jpg' %}">
                <div class="cs-text">
                    <h5>Mặt bằng</h5>
                    <span>500 tin</span>
                </div>
            </div>
            <div class="cs-item set-bg" data-setbg="{% static 'img/categories/cat-5.jpg' %}">
                <div class="cs-text">
                    <h5>Ở ghép</h5>
                    <span>400 tin</span>
                </div>
            </div>
        </div>
    </section>