{% load static %}
<section class="chooseus-section spad set-bg" data-setbg="{% static 'img/chooseus/chooseus-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="chooseus-text">
                        <div class="section-title">
                            <h4>Tại sao chọn aler.com?</h4>
                        </div>
                        <p>Chúng tôi biết bạn có rất nhiều lựa chọn, nhưng Aler.com tự hào là trang web đứng top google về các từ khóa: <b style="color: #5dbcd2">cho thuê phòng trọ, nhà trọ, thuê nhà nguyên căn, cho thuê căn hộ, tìm người ở ghép...</b>Vì vậy tin của bạn đăng trên website sẽ tiếp cận được với nhiều khách hàng hơn, do đó giao dịch nhanh hơn, tiết kiệm chi phí hơn</p>
                    </div>
                    <div class="chooseus-features">
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-1.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>70.000+</h5>
                                <p>Thành viên</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-2.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>100.000+</h5>
                                <p>Tin đăng</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-3.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>300.000+</h5>
                                <p>Lượt truy cập/tháng</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{% static 'img/chooseus/chooseus-icon-4.png' %}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>2.500.000+</h5>
                                <p>Lượt xem/tháng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>