{% load static %}
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h4>Khách hàng nói gì về chúng tôi?</h4>
                    </div>
                </div>
            </div>
            <div class="row testimonial-slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <div class="ti-text">
                            <p>Trước khi biết website Aler, mình phải tốn nhiều công sức và chi phí cho việc đăng tin cho thuê:
                                từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng hiệu quả không cao. Từ khi biết website aler.com,
                                mình đã thử đăng tin lên
                                và đánh giá hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài.</p>
                        </div>
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'img/testimonial-author/tam.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5>Trần Thanh Tâm</h5>
                                <span>Trứng rán cần mỡ, bắp cần bơ</span>
                                <div class="ta-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <div class="ti-text">
                            <p>Trước khi biết website Aler, mình phải tốn nhiều công sức và chi phí cho việc đăng tin cho thuê:
                                từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng hiệu quả không cao.
                                Từ khi biết website aler.com, mình đã thử đăng tin lên và đánh giá hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài.</p>
                        </div>
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'img/testimonial-author/huanrose.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5>Huấn Rose</h5>
                                <span>Không làm thì chỉ có ăn ...</span>
                                <div class="ta-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <div class="ti-text">
                            <p>Trước khi biết website Aler, mình phải tốn nhiều công sức và chi phí cho việc đăng tin cho thuê:
                                từ việc phát tờ rơi, dán giấy, và đăng lên các website khác nhưng hiệu quả không cao.
                                Từ khi biết website aler.com, mình đã thử đăng tin lên và đánh giá hiệu quả khá cao trong khi chi phí khá thấp, không còn tình trạng phòng trống kéo dài.</p>
                        </div>
                        <div class="ti-author">
                            <div class="ta-pic">
                                <img src="{% static 'img/testimonial-author/dnt.jpg' %}" alt="">
                            </div>
                            <div class="ta-text">
                                <h5>Đỗ Nam Trung</h5>
                                <span>Diễn viên</span>
                                <div class="ta-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>