<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'homepage/base.html' %}
{% load static %}

    {% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% endblock %}

    {% block content %}
    <!-- Hiện thị bộ lọc tìm kiếm -->
        <form method="get" class="border p-3">
            <div class="mb-3">
                <label for="">Tên sách</label>
                {% render_field form.DichVu class="form-control" %}
            </div>
            <div class="mb-3">
                <label for="">Tác giả</label>
                {% render_field form.TinhTP class="form-control" %}
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="">Giá</label>
                    {% render_field form.QuanHuyen class="form-control" placeholder="Giá tối đa" %}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">Năm sản xuất</label>
                    {% render_field form.Gia class="custom-select d-block w-100" %}
                </div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3">Thể loại</h4>
            {% for item in form.category  %}
            <div class="custom-control custom-checkbox">
                {{ item.tag }}
                <label>{{ item.choice_label }}</label>
            </div>
            {% endfor %}
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Tìm kiếm</button>
        </form>
    {% endblock %}

    {% block jsblock %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.richtext.min.js' %}"></script>
    <script src="{% static 'js/image-uploader.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</title>
</head>
<body>

</body>
</html>